<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Verification Email</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Poppins', Arial, sans-serif;">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" style="padding: 20px;">
        <table class="content" width="1000" cellspacing="0" cellpadding="0" style="border-collapse: collapse; ">
          <!-- Header -->
          <tr>
            <td class="header"
              style="background-color: #345C72; padding: 40px; text-align: center; color: #ffffff; font-size: 24px;">
              Employee Verification Portal <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25"
                height="25" viewBox="0 0 48 48">
                <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z">
                </path>
                <path fill="#ccff90"
                  d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
              Hello Company Management,<br><br>
              Welcome to our team! We are excited to have you on board. To ensure that our records are up-to-date and
              that you enjoy full access to our resources, please take a moment to verify your employee account.
              <br><br>
              Simply click the button below to complete your verification process.
            </td>
          </tr>

          <tr>
            <td style="padding: 0 40px; text-align: center;">
              <table cellspacing="0" cellpadding="0" style="margin: auto;">
                <tr>
                  <td align="center" style="background-color: #28a745; padding: 12px 25px; border-radius: 5px;">
                    <a href="<%= verificationLink %>" target="_blank"
                      style="color: #ffffff; text-decoration: none; font-weight: bold; font-size: 16px;">Verify
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
              If you have any questions or need further assistance with the verification process, please do not hesitate
              to contact our support team. We are here to help you every step of the way!
              <br><br>
              Thank you for your prompt attention to this matter. We look forward to a successful journey together.
            </td>
          </tr>
          <tr>
            <td class="footer"
              style="background-color: #333333; padding: 40px; text-align: center; color: #ffffff; font-size: 14px;">
              &copy; 2025 The Company Management
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <style>
    @media screen and (max-width: 600px) {
      .content {
        width: 100% !important;
        display: block !important;
        padding: 10px !important;
      }

      .header,
      .body,
      .footer {
        padding: 20px !important;
      }
    }
  </style>
</body>

</html>